body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h3 {
    text-align: center;
    color: #505d68;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../images/intro.jpg") center 
  no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.intro__inner {
width: 100%;
max-width: 820px;
margin: 0;
background: rgba(0, 0, 0, 0.4);
}

.intro__suptitle {
  margin: 5px 0 0;
  font-size: 60px;
  color: #e4d0cf;
  font-family: 'Kaushan Script', cursive;
  }

.intro__title {
  margin: 20px 0;
  color: #fff;
  font-size: 80px;
  font-weight: bold;
  text-align: left;
  overflow: hidden;
  border-right: 0.15em solid #cc9a98;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end) infinite,
  cursor-blink 0.75s step-end infinite;
}
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes cursor-blink {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #cc9a98;
    }
  }

.intro__text {
  font-family: 'M PLUS Code Latin', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #e4d0cf;
  text-align: center;
  margin-bottom: 30px;
}

.intro .container a{
  text-decoration: none;
  margin: 12px 4px;
  width: 28px;
  height: 28px;
  border: solid 1px transparent;
  border-radius: 25% 10%;
  text-align: center;
  line-height: 25px;
}

.intro .container a:hover {
  background-color: #f3e9e8;
  border: solid 1px #f3e9e8;
  transition: 0.1s;
}

.intro__button {
  font-family: 'Kaushan Script', cursive;
  color: #fff;
  font-size: 30px;
  padding: 10px;
}

.intro__button:hover {
  color: #cc9a98;
  transition: 0.1s;
}

.header {
  background: rgba(0, 0, 0, 0.4);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
} 

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  color: #fff;
  font-family: 'M PLUS Code Latin', sans-serif;
}

.nav{
  text-transform: uppercase;
  font-size: 20px;
}

.nav__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  transition: color 0.1s linear;
  font-family: 'M PLUS Code Latin', sans-serif;
  font-weight: bold;
}

.nav__link:after {
  display: block;
  content: "";
  opacity: 0;
  width: 100%;
  height: 3px;
  background-color: #cc9a98;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity 0.1s linear;
}

.nav__link.nav__link:hover {
  color: #cc9a98;
}

.nav__link:hover:after {
opacity: 1;
}

.intro .scroll_down {
  display: inline-block;
animation: scrollDown 2s ease infinite;
text-decoration: none;
margin-top: 100px;
margin-left: 50%;
}

@keyframes scrollDown{
  0%,20%,50%,80%,100%{
    transform: translateY(0);
  }
  40%{
    transform: translateY(-30px);
  }
  60%{
    transform: translateY(-15px);
  }
}

.intro .scroll_down i{
  color: #cc9a98;
  width: 25px;
  display: block;
}

.about {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 80px;
  border-top: 10px solid #e4d0cf;
}

.about .container .d-flex {
  display: flex;
  justify-content: space-between;
}

.about .container .d-flex img{
display: block;
max-width: 385px;
border: 3px dashed #cc9a98;
}

.about .container .item {
padding-left: 40px;
padding-right: 38px;
text-align: left;
}

.about .container .item h5{
  font-size: 20px;
  color: #42464c;
}

.about .container .item p {
  font-family: 'M PLUS Code Latin', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #42464c;
  padding-bottom: 58px;
}

.about .container .item a{
  text-decoration: none;
  margin: 20px 4px;
  width: 28px;
  height: 28px;
  border: solid 1px transparent;
  border-radius: 25% 10%;
  text-align: center;
  line-height: 25px;
}

.about .container .item a:hover {
  background-color: #f3e9e8;
  border: solid 1px #f3e9e8;
  transition: 0.1s;
}

.about__button {
  font-family: 'Kaushan Script', cursive;
  color: #e4d0cf;
  font-size: 30px;
  padding: 10px;
}

.about__button:hover {
  color: #cc9a98;
  transition: 0.1s;
}

.skills {
  border-top: 10px solid #e4d0cf;
  padding-bottom: 80px;
}

.skills .container .d-flex {
  justify-content: space-between;
}

.skills__percent .skill-item {
  padding: 10px 15px;
}

.skills__percent .skill-item p{
  font-size: 16px;
  font-weight: 700;
  color: #000;
  text-transform: capitalize;
  margin: 0 0 10px;
}

.skills__percent .skill-item .progress__inner__shadow {
  height: 20px;
  position: relative;
}

.skills__percent .skill-item .progress__inner__shadow .progress__bar {
background-color: #42464c;
height: 6px;
left: 7px;
top: 7px;
border-radius: 10px;
position: absolute;
}

.skills__percent .skill-item .progress__inner__shadow .progress__bar span{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 15px;
  font-weight: 500;
  color: #cc9a98;
  margin-top: -20px;
  font-family: 'Kaushan Script', cursive;
}

.skills__text ul li {
  list-style-type: none;
  padding: 4px 0;
  text-align: center;
  font-family: 'M PLUS Code Latin', sans-serif;
  font-weight: bold;
  font-size: 15px;
 }

 .skills__text ul li::before {
  color: #cc9a98;
  content: "֍";
  padding-right: 50px;
 }

 .experince {
   padding-bottom: 80px;
   border-top: 10px solid #e4d0cf;
 }

 .experince .timeline {
flex: 0 0 100%;
max-width: 100%;
position: relative;
 }

 .experince .timeline::before{
   content: '';
   width: 1px;
   height: 100%;
   left: 50%;
   top: 0;
   background-color: #42464c;
   position: absolute;
 }

 .experince .timeline .timeline-item {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
 }

 .experince .timeline .timeline-item:nth-child(odd){
   padding-right: calc(50% + 50px);
   text-align: right;
 }

 .experince .timeline .timeline-item:nth-child(even){
  padding-left: calc(50% + 50px);
 }

 .experince .timeline .timeline-item-inner {
padding: 30px;
border-radius: 5px;
position: relative;
 }

 .experince .timeline .timeline-item-inner .icon {
height: 40px;
background-color: #fff;
width: 40px;
text-align: center;
line-height: 40px;
border: 1px solid #42464c;
border-radius: 50%;
font-size: 16px;
color: #cc9a98;
position: absolute;
top: 18px;
 }

 .experince .timeline .timeline-item-inner .icon:hover{
   background-color: #cc9a98;
   color: #fff;
 }

 .experince .timeline .timeline-item:nth-child(odd) .icon {
right: -70px;
 }

 .experince .timeline .timeline-item:nth-child(even) .icon {
   left: -70px;
}

.footer-distributed {
   padding: 20px 0;
  background-color: #24282f;
  border-top: solid 5px #42464c;
}

.footer-distributed .container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.footer-distributed .container {
  max-width: 889px;
  display: flex;
  justify-content: space-between;
}

.footer-distributed .container .soc{
display: flex;
  justify-content: space-between;
}

.footer-distributed .container .soc a{
  display: inline-block;
  margin: 12px 4px 12px 4px;
  text-decoration: none;
  width: 35px;
  height: 35px;
  border: solid 1px #6c7877;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
}

.footer-distributed .container .soc a i{
  color: #6c7877;
  font-size: 20px;
padding: 8px;
}

.footer-distributed .container .soc a:hover{
  background-color: #cc9a98;
  border: solid 1px #cc9a98;
}

.footer-distributed .container .soc a:hover i{
  color: #ffffff;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
 display: inline-block;
 vertical-align: top;
}
 
.footer-distributed .footer-left{
 width: 40%;
}
 
.footer-distributed h4{
 color: #fff;
 font: normal 36px 'Montserrat', sans-serif;;
 margin: 0;
}
 
.footer-distributed h4 span{
 color:  #cc9a98;
 font-family: 'Kaushan Script', cursive;
}
 
 
.footer-distributed .footer-links{
 color:  #ffffff;
 margin: 20px 0 12px;
 padding: 0;
}
 
.footer-distributed .footer-links a{
  font-size: 15px;
  font-weight: bold;
 display:inline-block;
 line-height: 1.8;
 text-decoration: none;
 vertical-align: top;
 margin: 0 2px;
 color: #fff;
 text-decoration: none;
 transition: color 0.1s linear;
 font-family: 'M PLUS Code Latin', sans-serif;
}

.footer-distributed .footer-links a:hover {
  color: #e4d0cf;
}
 
.footer-distributed .footer-company-name{
 color:  #8f9296;
 font-size: 14px;
 font-weight: normal;
 margin: 0;
}
 
 
.footer-distributed .footer-center{
 width: 35%;
}
 
.footer-distributed .footer-center i{
 background-color:  #e4d0cf;
 color: #42464c;
 font-size: 15px;
 width: 30px;
 height: 30px;
 border-radius: 50%;
 text-align: center;
 line-height: 30px;
 margin: 10px 15px;
 vertical-align: middle;
}

.footer-distributed .footer-center i:hover{
  background-color: #cc9a98;
  color: #fff;
}
 
.footer-distributed .footer-center i.fa-envelope{
 font-size: 15px;
 line-height: 30px;
}
 
.footer-distributed .footer-center p{
 display: inline-block;
 color: #fff;
 vertical-align: middle;
 margin:0;
 font-size: 15px;
}
 
.footer-distributed .footer-center p a{
 color:  #fff;
 text-decoration: none;
 font-size: 15px;
}
 
.footer-distributed .footer-right{
 width: 20%;
}
 
.footer-distributed .footer-company-about{
 line-height: 20px;
 color:  #fff;
 font-size: 10px;
 font-weight: normal;
 margin: 0;
}
 
.footer-distributed .footer-company-about span{
 display: block;
 color:  #e4d0cf;
 font-size: 15px;
 font-weight: bold;
 margin-bottom: 5px;
}
 
.footer-distributed .footer-icons{
 margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
 display: inline-block;
 width: 35px;
 height: 35px;
 cursor: pointer;
 background-color:  #33383b;
 border-radius: 2px;
 font-size: 20px;
 color: #ffffff;
 text-align: center;
 line-height: 35px;
 margin-right: 3px;
 margin-bottom: 5px;
}
 
@media (max-width: 880px) {
 
 .footer-distributed{
 font: bold 14px sans-serif;
 }
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
 display: block;
 width: 100%;
 margin-bottom: 40px;
 text-align: center;
 }
 .footer-distributed .footer-center i{
 margin-left: 0;
 }
 .main {
 line-height: normal;
 }
}















